body {
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    margin-top: 20px;
}

li{
    margin-left: 0px;
}

.x.axis path,.x.axis line {
    fill: none;
    stroke: none;
}

.y.axis path {
    fill: none;
}

.y.axis line {
    fill: none;
    stroke: #eeeeee;
    shape-rendering: crispEdges;
}

.x.axis text, .y.axis text{
    font-size: 10px;
    fill:grey;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.tick line{
    stroke: #e0e1e1;
    opacity: 1;
}

#title, .explain{
    text-indent: 15px;
}

#credit{
    color:grey;
    text-indent: 20px;
    line-height: 30px;
}

a:hover{
    cursor:pointer;
}
